h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p,
a,
li,
input,
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.content p,
.content ul {
  margin-bottom: 30px;
}

h2 {
  font-size: 27px;
  line-height: 27px;
  margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe;

  /* Hack to manage footer pseudo element */
  overflow-x: hidden;
}

.wrapper {
  max-width: 1100px;
  padding: 50px 55px 0 55px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-bottom: 50px;
}

.title__first {
  font-size: 100px;
  line-height: 100px;
}

.title__second {
  font-size: 70px;
  line-height: 70px;

  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 7px;
  white-space: nowrap;
}

.logo {
  height: 100%;
  width: auto;
}

.content {
  width: 800px;
  margin-bottom: 50px;
}

.call-to-action {
  display: inline-block;
  background-color: #00861d;
  border-radius: 2px;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

.call-to-action:hover {
  background-color: #005300;
}

.call-to-action:hover > span {
  text-decoration: underline;
}

.call-to-action__icon {
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 3px;
}

.bold {
  font-weight: 700;
  font-size: 27px;
  line-height: 27px;
}

.resources-checkbox-label {
  font-size: 20px;
  cursor: pointer;
  color: #00861d;
  margin-bottom: 25px;
  display: inline-block;
}

.resources-checkbox-label__chevron {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 3px;
}

.resources-checkbox-label:hover {
  color: #005300;
}

/* screenreader-only */
.resources-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.resources {
  max-height: 0;
  transition: max-height 0.8s;
  overflow: hidden;
}

.resources a {
  text-decoration: none;
  color: #00861d;
}

.resources a:hover {
  text-decoration: underline;
  color: #005300;
}

.resources-checkbox:checked + .resources {
  max-height: 3000px;
}

.footer {
  background-color: #fc0;
  position: relative;
  text-align: center;
  padding: 40px 100px;
}

.quote {
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.citation {
  font-size: 20px;
}

/* hacky way of achieving full-bleed appearance within padded container */
.footer:before {
  content: "";
  background-color: #fc0;
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

/* Tablet-ish */
@media (max-width: 1000px) {
  .wrapper {
    max-width: 700px;
    padding: 40px 40px 0 40px;
  }

  .header {
    height: 150px;
  }

  .title__first {
    font-size: 70px;
    line-height: 70px;
  }

  .title__second {
    font-size: 45px;
    line-height: 45px;
  }

  .content {
    width: 600px;
  }

  .footer {
    padding: 20px 50px;
  }
}

/* Phone-ish */
@media (max-width: 750px) {
  .wrapper {
    width: 100%;
    padding: 20px 20px 0;
  }

  .header {
    height: auto;
    margin-bottom: 30px;
  }

  .title__first {
    font-size: 35px;
    line-height: 35px;
  }

  .title__second {
    font-size: 25px;
    line-height: 25px;
    white-space: normal;
    letter-spacing: 4px;
  }

  .logo {
    display: none;
  }

  .content {
    width: 100%;
  }

  h2,
  .bold {
    font-size: 18px;
  }

  .footer {
    padding: 10px 20px;
  }
}
