h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p,
a,
li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.content p,
.content ul {
  margin-bottom: 30px;
}

h2 {
  font-size: 27px;
  line-height: 27px;
  margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe;

  /* Hack to manage footer pseudo element */
  overflow-x: hidden;
}

.wrapper {
  max-width: 1100px;
  padding: 50px 55px 0 55px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-bottom: 75px;
}

.title {
  font-size: 100px;
  line-height: 100px;
}

.title__second {
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 7px;
}

.logo {
  height: 100%;
  width: auto;
}

.content {
  width: 800px;
  margin-bottom: 50px;
}

.bold {
  font-weight: 700;
  font-size: 27px;
  line-height: 27px;
}

.footer {
  background-color: #fc0;
  position: relative;
  text-align: center;
  padding: 40px 100px;
}

.quote {
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.citation {
  font-size: 20px;
}

/* hacky way of achieving full-bleed appearance within padded container */
.footer:before {
  content: "";
  background-color: #fc0;
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

/* Tablet-ish */
@media (max-width: 1000px) {
  .wrapper {
    max-width: 700px;
    padding: 40px 40px 0 40px;
  }

  .header {
    height: 150px;
  }

  .title {
    font-size: 70px;
    line-height: 70px;
  }

  .content {
    width: 600px;
  }

  .footer {
    padding: 20px 50px;
  }
}

/* Phone-ish */
@media (max-width: 750px) {
  .wrapper {
    width: 100%;
    padding: 20px 20px 0;
  }

  .header {
    height: 80px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 35px;
    line-height: 35px;
  }
  .title__second {
    letter-spacing: 4px;
  }

  .logo {
    display: none;
  }

  .content {
    width: 100%;
  }

  h2,
  .bold {
    font-size: 18px;
  }

  .footer {
    padding: 10px 20px;
  }
}
